VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNod3Ztb3NibWx2bnZ0Y21pcHV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyMTkwNjQsImV4cCI6MjEwMjc5NTA2NH0.LDGCbVJWquN4fIDPH8YgzhEvzRFklK8uv7DnUc2Sgc0
VITE_SUPABASE_URL=https://shwvmosbmlvnvtcmipuy.supabase.co