VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJueGh6Z3hzem9rYm1nam96ZW1pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4NTY3NTcsImV4cCI6MjEwMzQzMjc1N30.-9mZByT00DgbVEPTxkUKu1Osdj-QXmp6OqT3A-IbMQ0
VITE_SUPABASE_URL=https://rnxhzgxszokbmgjozemi.supabase.co